<resources>
    <properties>
        <property id="enabled1" type="boolean"/>
        <property id="name1" type="string"/>
        <property id="code1" type="string"/>
        <property id="digits1" type="number">6</property>

        <property id="enabled2" type="boolean"/>
        <property id="name2" type="string"/>
        <property id="code2" type="string"/>
        <property id="digits2" type="number">6</property>

        <property id="enabled3" type="boolean"/>
        <property id="name3" type="string"/>
        <property id="code3" type="string"/>
        <property id="digits3" type="number">6</property>

        <property id="enabled4" type="boolean"/>
        <property id="name4" type="string"/>
        <property id="code4" type="string"/>
        <property id="digits4" type="number">6</property>

        <property id="enabled5" type="boolean"/>
        <property id="name5" type="string"/>
        <property id="code5" type="string"/>
        <property id="digits5" type="number">6</property>

    </properties>

    <settings>
        <setting propertyKey="@Properties.enabled1" title="@Strings.enabled1">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.name1" title="@Strings.name1">
            <settingConfig type="alphaNumeric" maxLength="15"></settingConfig>
        </setting>
        <setting propertyKey="@Properties.code1" title="@Strings.code1">
            <settingConfig type="alphaNumeric"></settingConfig>
        </setting>
        <setting propertyKey="@Properties.digits1" title="@Strings.digits">
            <settingConfig type="numeric" min="6" max="10"/>
        </setting>
        <!-- Next entry -->
        <setting propertyKey="@Properties.enabled2" title="@Strings.enabled2">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.name2" title="@Strings.name2">
            <settingConfig type="alphaNumeric" maxLength="15"></settingConfig>
        </setting>
        <setting propertyKey="@Properties.code2" title="@Strings.code2">
            <settingConfig type="alphaNumeric"/>
        </setting>
        <setting propertyKey="@Properties.digits2" title="@Strings.digits">
            <settingConfig type="numeric" min="6" max="10"/>
        </setting>
        <!-- Next entry -->
        <setting propertyKey="@Properties.enabled3" title="@Strings.enabled3">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.name3" title="@Strings.name3">
            <settingConfig type="alphaNumeric" maxLength="15"></settingConfig>
        </setting>
        <setting propertyKey="@Properties.code3" title="@Strings.code3">
            <settingConfig type="alphaNumeric"/>
        </setting>
        <setting propertyKey="@Properties.digits3" title="@Strings.digits">
            <settingConfig type="numeric" min="6" max="10"/>
        </setting>
        <!-- Next entry -->
        <setting propertyKey="@Properties.enabled4" title="@Strings.enabled4">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.name4" title="@Strings.name4">
            <settingConfig type="alphaNumeric" maxLength="15"></settingConfig>
        </setting>
        <setting propertyKey="@Properties.code4" title="@Strings.code4">
            <settingConfig type="alphaNumeric"/>
        </setting>
        <setting propertyKey="@Properties.digits4" title="@Strings.digits">
            <settingConfig type="numeric" min="6" max="10"/>
        </setting>
        <!-- Next entry -->
        <setting propertyKey="@Properties.enabled5" title="@Strings.enabled5">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.name5" title="@Strings.name5">
            <settingConfig type="alphaNumeric" maxLength="15"></settingConfig>
        </setting>
        <setting propertyKey="@Properties.code5" title="@Strings.code5">
            <settingConfig type="alphaNumeric"/>
        </setting>
        <setting propertyKey="@Properties.digits5" title="@Strings.digits">
            <settingConfig type="numeric" min="6" max="10"/>
        </setting>
    </settings>
</resources>